@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(to right, #181823, #181818);
  color: #eee;
  font-family: Poppins;
  font-size: 12px;
}
a {
  text-decoration: none;
}
header {
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  background: rgba(255, 255, 255, 0.1); /* Light background with transparency */
  border-radius: 10px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding-left: 10px;
}

header a {
  color: #eee;
  margin-right: 40px;
  font-size: 1.3em;
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease ease; /* Smooth color transition on hover */
}

header a:hover {
  color: #f1683a;
}

header:hover {
  background: rgba(255, 255, 255, 0.2); /* Slightly more opaque on hover */
}

header .logo {
  display: flex;
  align-items: flex-end;
}

header .logo img {
  width: 150px px;
  height: 40px;
  padding-left: 700px;
  border-radius: 25px;
}
/* First Section starts */
/* carousel */
.carousel {
  height: 100vh;
  margin-top: -50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author {
  font-weight: bold;
  letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .topic {
  color: #f1683a;
}
.carousel .list .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.carousel .list .item .des {
  font-size: 1.2em;
  font-family: poppins;
  font-weight: medium;
}
.carousel .list .item .buttons button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}
/* thumbail */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title {
  font-size: 14px;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  color: #f1683a;
}
.thumbnail .item .content .description {
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
}
/* arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
}
.arrows button:hover {
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}
.carousel .list .item:nth-child(1) .content .topic {
  animation-delay: 1.4s !important;
}
.carousel .list .item:nth-child(1) .content .des {
  animation-delay: 1.6s !important;
}
.carousel .list .item:nth-child(1) .content .buttons {
  animation-delay: 1.8s !important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item img {
  z-index: 100;
}
@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
.carousel.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* running time */

.carousel .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time {
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* prev click */

.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
/*
@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }
  .carousel.prev .list .item .content .author,
  .carousel .list .item .content .title,
  .carousel.prev .list .item .content .topic,
  .carousel.prev .list .item .content .des,
  .carousel.prev .list .item .content .buttons {
    font-size: 30px;
  }
}
*/

/* Mobile Styles */
@media (max-width: 480px) {
  header {
    height: auto; /* Allow height to adjust based on content */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  nav a {
    font-size: 0.9em; /* Smaller font size */
    margin-bottom: 8px; /* Reduce space between links */
  }

  header .logo {
    display: none;
  }

  .carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
  }

  header a {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1em;
  }

  .carousel .list .item .content {
    padding-right: 10%;
    top: 10%;
  }

  .carousel .list .item .content .author,
  .carousel .list .item .content .title,
  .carousel .list .item .content .topic {
    font-size: 3em;
  }

  .carousel .list .item .content .des {
    font-size: 1.3em;
  }

  .carousel .list .item .buttons {
    grid-template-columns: repeat(2, 100px);
  }

  .thumbnail {
    bottom: 20px;
    gap: 10px;
  }

  .thumbnail .item {
    width: 100px;
    height: 150px;
  }

  .arrows {
    top: 85%;
    right: 55%;
  }

  .arrows button {
    width: 30px;
    height: 30px;
  }
}

/* iPad Styles */
@media screen and (max-width: 1024px) {
  header {
    width: 100%;
  }

  header a {
    margin-right: 30px;
    font-size: 1rem;
  }

  .carousel .list .item .content {
    padding-right: 15%;
    top: 15%;
  }

  .carousel .list .item .content .author,
  .carousel .list .item .content .title,
  .carousel .list .item .content .topic {
    font-size: 2em;
  }

  .carousel .list .item .content .des {
    font-size: 1em;
  }

  .carousel .list .item .buttons {
    grid-template-columns: repeat(2, 120px);
  }

  .thumbnail {
    bottom: 30px;
    gap: 15px;
  }

  .thumbnail .item {
    width: 130px;
    height: 180px;
  }

  .arrows {
    top: 82%;
    right: 52%;
  }

  .arrows button {
    width: 35px;
    height: 35px;
  }
}
/* First Section ends */

/* Second Section starts */

/*Second Section Ends*/

/*Third Section Starts*/

.bento-container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); /* Light background with transparency */
  border-radius: 10px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding-left: 10px;
}

.bento-box {
  display: grid;
  grid-template-areas:
    "item1 item1 item3"
    "item2 item2 item3"
    "item4 item4 item4";
  gap: 15px;
  width: 100%;
  max-width: 1200px;
}

.bento-item {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-grid img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 25px 25px;
  transition: transform 0.3s ease-in-out;
}

.logo-grid img:hover {
  transform: scale(1.2);
}

.item1 {
  grid-area: item1;
  background-color: #28282b;
}

.item1 p {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  padding-top: 50px;
}

.item1 p span {
  color: #f1683a;
  font-weight: bold;
  font-style: italic;
}

.more {
  margin-top: 50px;
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
  background-color: #000;
  color: #f1683a;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}

.more:hover {
  background-color: #eee;
  color: #000;
  transition: all 0.5s ease-in-out;
}

.item2 {
  grid-area: item2;
  background-color: whitesmoke;
}
.item3 {
  grid-area: item3;
  background-color: #111112;
}

.item3 h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: bold;
  color: #f1683a;
}

.item4 {
  grid-area: item4;
  background-color: #ff6666;
}
.item5 {
  grid-area: item5;
  background-color: #6666ff;
}
.item6 {
  grid-area: item6;
  background-color: #ffcc66;
}

.bento-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Responsive design for tablets */
@media (max-width: 992px) {
  .bento-box {
    grid-template-areas:
      "item1 item1"
      "item3 item3"
      "item2 item2"
      "item5 item4";
  }
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {
  .bento-box {
    grid-template-areas:
      "item1"
      "item3"
      "item2"
      "item4"
      "item5";
  }
}

/* Second Section Ends */

.second {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1); /* Light background with transparency */
  border-radius: 10px; /* Rounded corners */
  backdrop-filter: blur(300px); /* Blur effect */
  box-shadow: 0 4px 6px rgba(0.1, 0.1, 0.1, 0.1); /* Subtle shadow for depth */
  padding: 20px;
  opacity: 1; /* Start completely transparent */
  animation: fadeIn 5s ease-in forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start at 0% opacity */
  }
  100% {
    opacity: 1; /* End at 100% opacity */
  }
}

.about {
  width: 50%;
  padding: 50px;
  background-image: url(./Images/17.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.about h2 {
  font-size: 28px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

.about p {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.about p span {
  color: #f1683a;
  font-style: italic;
}

.about-pic {
  width: 50%;
  justify-self: end;
}

.about-pic img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/* Media queries for tablets and larger devices */
@media (min-width: 768px) {
  .second {
    flex-direction: row; /* Arrange items horizontally on larger screens */
  }

  .about {
    width: 50%; /* Half width for larger screens */
    padding: 50px;
  }

  .about-pic {
    width: 50%; /* Half width for larger screens */
  }
}

/* Media queries for desktops and larger devices */
@media (min-width: 1024px) {
  .about h2 {
    font-size: 28px; /* Larger font size for desktops */
  }

  .about p {
    font-size: 18px; /* Larger font size for desktops */
  }
}

/* Media query for Mobile*/
@media (max-width: 767px) {
  .second {
    width: auto;
  }
  .about {
    width: 50%;
  }
  .about h2 {
    font-size: 12px;
  }

  .about p {
    font-size: 8px;
  }

  .about-pic {
    width: 50%;
  }
}
/* Icon Ticker Starts*/

.icon-ticker {
  overflow: hidden; /* Hide the overflow */
  width: 100%; /* Set the width of the ticker */
  height: 50px;
  background-color: #0004; /* Background color for the ticker */
  padding: 10px 0; /* Padding to add space around the icons */
  opacity: 1; /* Start completely transparent */
  animation: fadeIn 10s ease-in forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start at 0% opacity */
  }
  100% {
    opacity: 1; /* End at 100% opacity */
  }
}

.ticker-wrap {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
}

.ticker-move {
  display: flex;
  animation: tickerMove 30s linear infinite; /* Animate the ticker */
}

.ticker-icon {
  width: 50px; /* Set the diameter of the circle */
  height: 50px; /* Match the height to the width for a perfect circle */
  margin: 0 15px; /* Space between the icons */
  border-radius: 50%; /* Make the icon a circle */
  object-fit: cover; /* Ensure the image fits within the circle */
  border: 1px solid #fff; /* Optional: Add a border around the icon */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for depth */
  transition: transform 0.3s ease-in-out;
}

.ticker-icon:hover {
  transform: scale(1.2);
}

@keyframes tickerMove {
  0% {
    transform: translateX(100%); /* Start from the right */
  }
  100% {
    transform: translateX(-100%); /* Move to the left */
  }
}

/* Icom Ticker Ends */
/* Third Section Starts */
@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

.banner {
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}
@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.5);
}
.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.banner .content h1 {
  font-family: "ICA Rubrik";
  font-size: 16em;
  line-height: 1em;
  position: relative;
}
.banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px #050500;
  color: transparent;
}
.banner .content .author {
  font-family: Poppins;
  text-align: right;
  max-width: 200px;
}
.banner .content h2 {
  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: #f1683a;
}

.banner .content p {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 14px;
}
.banner .content .model {
  background-image: url(./Images/logo.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 40%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .banner .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }
  .banner .content h1 {
    text-align: center;
    width: 100%;
    text-shadow: 0 10px 20px #000;
    font-size: 7em;
  }
  .banner .content .author {
    color: #fff;
    padding: 20px;
    text-shadow: 0 10px 20px #000;
    z-index: 2;
    max-width: unset;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .banner .slider {
    width: 100px;
    height: 150px;
    left: calc(50% - 50px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
  }
  .banner .content h1 {
    font-size: 5em;
  }
}
/* Third Section Ends */
